.pub-card {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 15px 20px;
  margin: 15px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  font-size: 16px;
  line-height: 1.6;
}

.pub-card strong {
  color: #00349a;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid #00349a;
  display: inline-block;
  padding-bottom: 3px;
}
